@font-face {
  font-family: "agiven";
  src: url("agiven.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "agiven", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    inset: 0;
    background-color: rgba(0, 0, 255, 0.164);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    z-index: 0;
    pointer-events: none;
}

.smolbox {
    width: 90%;
    min-width: 400px;
    max-width: 600px;
    height: 200px;
    background-color: rgba(194, 139, 240, 0.473);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

.contents {
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-weight: 70;
}

p {
    font-weight: 10;
}

.hello {
    border-radius: 10px;
    width: 60px;
    height: 30px;
    border: white 10px;
    background-color: rgb(191, 150, 230);
    color: white;
}

.hello:hover {
    background-color: rgb(133, 104, 160);

}





.hearts {
    font-size: 23px;
    font-weight: bold;
    position: fixed;
    top: -3vh;
    transform: translateY(0%);
    opacity: 1;
    left: 0;
    animation: fall 3s ease-in;
} 

@keyframes fall {
    to {
        transform: translateY(250vh);
        opacity: 0;
    }
}